<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <intuit>
    <ipp>
      <security mode="OAuth">
        <oauth1 consumerKey="qyprdDiyFCasbGj8Is21kaMaqV8JIz"
               consumerSecret="ScST7k1LWv6x2J3umzWxHR9iDg9F0XK4m6sG0R7J"
               accessTokenKey="qyprd2JJrku38JuU4Cxqz7VpDkyKB6mf9YBgo7oAWZgbeuwK"
               accessTokenSecret="wkDlJNtUlWUbcw18Yf22FHVcJtivfSWLIP4l2hJX"
               QBORealmID="123145808150389"/>
      </security>
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbo="https://quickbooks.api.intuit.com/" ipp="https://appcenter.intuit.com/api/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/tmp/IdsLogs" />
      </logger>
      <!--
        Available strategies are file, handler and export.
        file - saves response into temporary file in system temp folder.
               The file should be removed manually

        handler - saves response into temporary file and provides file handler.
                  The file is automatically removed after script termination or when developer closes the handler

        export - saves response into export folder. Additional parameter "exportDirectory" should be specified
           <contentWriter strategy="export" exportDirectory="/path/to/target/folder">

        For advance usage you can specify returnObject="true" to work with instance of contentWriter
      -->
      <contentWriter strategy="file" prefix="ipp"/>
      <specialConfiguration>
          <TaxService jsonOnly="true"/>
      </specialConfiguration>
      <minorVersion>3</minorVersion>
    </ipp>
  </intuit>
</configuration>
